{% extends "wagtailadmin/pages/edit.html" %}

{% block extra_css %}
{{block.super}}
  <style>
  .content-conflict-alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e9b04d;
    color: white;
    z-index: 10000;
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
    border-radius: 2px;
    text-align: center;
  }

  [v-cloak] {display: none}
  </style>
{% endblock %}

{% block extra_js %}
  {{block.super}}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
{% endblock %}

{% block end_of_body_js %}
  <div id="presence_alert">
    <div v-if="conflicts.length" class="content-conflict-alert" v-cloak>
      <p v-for="user in conflicts" style="margin: 0">
        {% verbatim %}
        The user <b>{{user}}</b> is also editing this article. <a v-if="locked" @click="unlock" style="cursor: pointer"><b>Unlock.</b></a>
        {% endverbatim %}
      </p>
    </div>
  </div>

  <script type="text/javascript">
    new Vue({
      el: "#presence_alert",
      data: {
        current_user: null,
        forceUnlocked: false,
        isOriginalUser: true,
        locked: false,
        socket: null,
        users_present: [],
      },

      methods: {
        unlock: function() {
          this.locked = false;
        }
      },

      mounted: function() {
        var path = window.location.pathname;
        var protocol = window.location.protocol == "http:" ? "ws://" : "wss://";
        this.socket = new WebSocket(
          protocol + window.location.host + "/ws/content_editing" + path
        );
        this.socket.onmessage = e => {
          var data = JSON.parse(e.data);
          this.users_present = [...data.people_here];
          this.current_user = data.current_user;
        }

        // Start page locked, but immediately unlock if only user (see
        // `isOriginalUser` watch method)
        if (!this.isOriginalUser) {
          this.locked = true;
        }
      },

      computed: {
        conflicts: function() {
          return this.users_present.filter(x => x != this.current_user)
        }
      },

      watch: {
        users_present: function(users) {
          this.isOriginalUser = users.indexOf(this.current_user) < 1;
          this.locked = this.isOriginalUser ? false : true;
        },

        // Identifies if the edit body is grey/inaccessible
        locked: function(locked) {
          if (locked) {
            ['.tab-content', '.tab-nav', 'footer'].forEach(el => {
              document.querySelector(el).style['opacity'] = 0.3;
              document.querySelector(el).style['pointer-events'] = 'none';
            });
          } else {
            ['.tab-content', '.tab-nav', 'footer'].forEach(el => {
              document.querySelector(el).style['opacity'] = 1;
              document.querySelector(el).style['pointer-events'] = 'auto';
            });
          }
        }
      }
    })
  </script>
{% endblock %}
