{% extends "wagtailadmin/pages/edit.html" %}

{% block extra_js %}
{{block.super}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
{% endblock %}

{% block end_of_body_js %}
<div id="presence_alert">
  <div v-if="conflicts.length" v-bind:style="styleAlert">
    <p v-for="user in conflicts" style="margin: 0">
      {% verbatim %}
      The user {{user}} is also editing this article.
      {% endverbatim %}
    </p>
  </div>
</div>

<script type="text/javascript">
  new Vue({
    el: "#presence_alert",
    data: {
      socket: null,
      current_user: null,
      users_present: [],
      styleAlert: {
        position: "fixed",
        top: "0",
        left: "50%",
        transform: "translateX(-50%)",
        backgroundColor: "#e9b04d",
        color: "white",
        zIndex: "10000",
        padding: "10px 30px",
        marginTop: "10px",
        boxShadow: "rgba(0,0,0,0.3) 0px 0px 10px",
        borderRadius: "2px"
      }
    },
    mounted: function() {
      var path = window.location.pathname;
      this.socket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/p" + path
      );
      this.socket.onmessage = e => {
        var data = JSON.parse(e.data);
        this.users_present = data.people_here;
        this.current_user = data.current_user;
      }
    },
    computed: {
      conflicts: function() {
        return this.users_present.filter(x => x != this.current_user)
      }
    }
  })
</script>
{% endblock %}
