{% extends "wagtailadmin/pages/edit.html" %}

{% load static %}
{% static "content_locking/test.js" %}

{% block extra_css %}
{{block.super}}
  <style>
  a {
    cursor: pointer;
  }
  .content-conflict-alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e9b04d;
    color: white;
    z-index: 10000;
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
    border-radius: 2px;
    text-align: center;
  }

	.content-conflict-alert__danger {
		background-color: #b4191f;
	}

	.content-conflict-alert__danger a {
		color: white;
		text-decoration: underline;
	}

  .content-conflict-alert > p {
    margin: 0;
  }

  [v-cloak] {display: none}
  </style>
{% endblock %}

{% block extra_js %}
  {{block.super}}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
{% endblock %}

{% block end_of_body_js %}
  <div id="presence_alert">
    <div v-if="currentState" v-bind:class="{ 'content-conflict-alert__danger':currentState == STATE.INTRUDER_CONFLICT_CONFIRM_DIRTY }" class="content-conflict-alert" data-test-conflict-alert v-cloak>
      <p v-if="currentState == STATE.OWNER_CONFLICT">
        {% verbatim %}
          <template v-for="user in conflicts" style="margin: 0">
            The user <b>{{user}}</b> is attempting to unlock this article.
          </template>
        {% endverbatim %}
      </p>
      <p v-if="currentState == STATE.OWNER_MULTIPLE_TABS">
        {% verbatim %}
          <b>Warning</b>: You may have this article opened in multiple tabs.
        {% endverbatim %}
      </p>
      <p v-else-if="currentState == STATE.INTRUDER_CONFLICT">
        {% verbatim %}
          The user <b>{{owner}}</b> is already editing this article. <a v-if="locked" @click="unlock" data-test-unlock-button><b>Unlock.</b></a>
        {% endverbatim %}
      </p>
      <p v-else-if="currentState == STATE.INTRUDER_CONFLICT_CONFIRM">
        {% verbatim %}
					This page is currently locked by <b>{{owner}}</b>, are you sure you want to unlock this page? No unsaved changes will be lost. <a @click="forceUnlock" data-test-force-unlock-button><br><b>Unlock</b></a> or <a @click="cancelUnlock"><b>Cancel</b></a>
        {% endverbatim %}
      </p>
      <p v-else-if="currentState == STATE.INTRUDER_CONFLICT_CONFIRM_DIRTY">
        {% verbatim %}
					This page is currently locked by <b>{{owner}}</b>, are you sure you want to unlock this page? <b>{{owner}}'s</b> unsaved work will be lost. <a @click="forceUnlock" data-test-force-unlock-button><br/><b>Yes</b></a> or <a @click="cancelUnlock"><b>Cancel</b></a>
        {% endverbatim %}
      </p>
      <p v-else-if="currentState == STATE.OWNER_USURPED">
        {% verbatim %}
          <b>{{owner}}</b> has unlocked this object. You are no longer able to edit/save.
        {% endverbatim %}
      </p>
    </div>
  </div>

  <script type="text/javascript">
    {% include 'wagtailadmin/pages/content_locking.js' %}
  </script>
{% endblock %}
